<!-- Profile card heading 
<div class="col-xs-24 col-sm-24 col-md-24 col-lg-24 card-heading-container">
<div class="col-xs-18 col-sm-18 col-md-19 col-lg-18">
		<div class="bold card-name">
			{{employee.name}}
		</div>
	</div>
	<div class="col-xs-6 col-sm-6 col-md-5 col-lg-6 text-right vertical-align options">
		<button type="button" class="btn btn-oas bold" ng-show="isEquals(viewtype,'current')" ng-click="archive(employee.id)">ARCHIVE</button>
		<button type="button" class="btn btn-oas bold" ng-hide="isEquals(viewtype,'current')" ng-click="unarchive(employee.id)">UNARCHIVE</button>
		<img class="icon-oas" src="images/icons/edit_icon.png" ng-hide="editMode" ng-click="toggleEdit()">
		<img class="icon-oas" src="images/icons/save_icon.png" ng-show="editMode" ng-click="saveChanges(employee)">
		<img class="icon-oas" src="images/icons/trash_icon.png" ng-click="deleteProfileConfirmation(employee.id)">
	</div>
</div>--><!-- Profile card content --> <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24 util-bg-white util-no-padding profile-card"> <div class="profile-card-nav col-lg-24 text-right"> <button type="button" class="btn btn-oas card-round-btn"><span class="glyphicon glyphicon-user"></span></button> <img class="icon-oas" src="images/icons/trash_icon.png" ng-click="deleteProfileConfirmation(employee.id)"> </div> <div class="avatar-container col-lg-24"> <span class="centerer"></span> <img ng-hide="avatarThumb!=null" src="images/manpower/avatar.png" ng-src="{{employee.avatar_medium_url}}"> </div> <div class="row profile-card-info"> <div class="col-lg-24 employee-name employee-info"> {{employee.name}} </div> <div class="col-lg-24 employee-nationality employee-info"> {{nationality(employee.nationality)}} </div> <div class="col-lg-24 employee-position employee-info"> {{employee.position}} </div> </div> </div>